In [1]:
my_interable = [1,2,3]
for item_name in my_interable:
    print(item_name)

1
2
3

In [2]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
#do not use "list" as a var as it's a inbuild function

In [4]:
for num in mylist: #the "num" is a new variable created inside the for loop
    print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
num

10

In [6]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [10]:
for num in mylist:
    if num % 2 == 0: #checking for even numbers (remainder = 0)
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [12]:
for num in mylist:
    if num % 2 == 0: #checking for even numbers (remainder = 0)
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [14]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [15]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum) #see the difference with and w/o indentation

55

In [16]:
mystring = 'Hello World'
for letter in mystring:
    print(letter) #it's the same as numbers, but with string as each letter is considered

H
e
l
l
o

W
o
r
l
d

In [17]:
for _ in 'Hello World': #use _ for var name when the var name is totally not necessary
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [18]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [19]:
mylist2 = [(1,2),(3,4),(5,6),(7,8)] #tuple pairs

In [20]:
len(mylist2)

4

In [21]:
for item in mylist2:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [23]:
for a,b in mylist2: # this is tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [24]:
for a,b in mylist2: # this is tuple unpacking
    print(b)

2
4
6
8

In [25]:
mylist3 = [(1,2,3), (4,5,6), (7,8,9)]

In [26]:
len(mylist3)

3

In [27]:
for item in mylist3:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [28]:
for a,b,c in mylist3: #note that these are three different variables created in this loop
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [29]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [30]:
for item in d.items(): #this is how to access the values and keywords
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [31]:
for item,values in d.items(): #unpacking is used to access only the item here (or value)
    print(values)

1
2
3